@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
    body {
        @apply h-screen bg-[#26D7AB];
    }

    #root {
        @apply h-full flex flex-col font-Poppins;
    }

    input {
        @apply border p-2 rounded-sm text-black;
    }

    .SliderRoot {
        position: relative;
        display: flex;
        align-items: center;
        user-select: none;
        touch-action: none;
        height: 40px;
    }

    .SliderTrack {
        background-color: #636c72;
        position: relative;
        flex-grow: 1;
        border-radius: 9999px;
        height: 15px;
    }

    .SliderRange {
        position: absolute;
        background-color: white;
        border-radius: 9999px;
        height: 100%;
    }

    .SliderThumb {
        display: block;
        width: 20px;
        height: 20px;
        background-color: white;
        box-shadow: 0 2px 10px black;
        border-radius: 10px;
    }

    .SliderThumb:focus {
        outline: none;
        box-shadow: 0 0 0 5px #2563EB;
    }
}